---
import Page from "../components/Page.astro";
---


<h1 data-aos="fade-in" data-aos-duration="1500"
data-aos-delay="300">Welcome to my project!</h1>

<Page title="Allan Machogu's Project Portfolio">
  <h1>
    Allan Machogu's Project Portfolio
  </h1>
   <h2>About Me</h2>
  <p>My name is Allan, a student in my AP class and here are my projects.</p>
  <h2>Project Menu</h2>
  <nav>
    <ul>
    <li>
        <a href="./projects/binary-search/"> 
          Binary Search Project
        </a>
      </li>
      <li>
        <a href="./projects/turtle-project1/"> 
          Turtle Mini Project
        </a>
      </li>
       <li>
        <a href="./projects/scramble-bee/"> 
          Sramble Bee Project
        </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav>
  <a href="https://github.com/IACS-CS/apcsp-24-25-apcsp-portfolio-apcsp-portfolio-template">
  Source Code
  </a>

</Page>

