---
import Project from "../../components/Project.astro"
---


<h1 data-aos="fade-in" data-aos-duration="1500"
data-aos-delay="300">Welcome to my project!</h1>

<Project
  title="Guessing the Sport"
  assignment="Create a program built on the concept of binary search"
>
  <p>This project was based on a binary search, a concept that we-my groupmembers and I- worked on, to guess the sport that the user of the interface was thinking of.</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe 
    src="https://placehold.co/600x400?text=Your+Project+Here" 
    title="Personality Quiz"
    width="100%"
    height="800px"
  ></iframe>

</Project>
