---
import Project from "../../components/Project.astro"
---


<h1 data-aos="fade-in" data-aos-duration="1500"
data-aos-delay="300">Welcome to my project!</h1>

<Project
  title="Guessing the Sport"
  assignment="Create a program built on the concept of binary search"
>
<a href="https://github.com/IACS-CS/apcsp-24-25-binary-search-game-binary-search-game">
Source Code
</a>
  <p>This project was based on a binary search, a concept that we-my groupmembers and I- worked on, to guess the sport that the user of the interface was thinking of.</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe 
    src="https://iacs-cs.github.io/binary-search-game-the-goats/" 
    title="Guess the Sports Quiz"
    width="100%"
    height="800px"
  ></iframe>

</Project>
