---
import Project from "../../components/Project.astro"
---


<h1 data-aos="fade-in" data-aos-duration="1500"
data-aos-delay="300">Welcome to my project!</h1>

<Project
  title="Evolution of the Web"
  assignment="Research a topic that helped evolve the web or helped impact it"
>
<a href="https://docs.google.com/document/d/1ilyNuOHegjrpZOWTqxL10RnU9JOmsfnTRc2w9ShxNq4/edit?pli=1&tab=t.0">
Source link/notes
</a>
  <p>This project was based on my group researching on the iPhone and how it impacted the world.</p>
  <iframe 
    src="https://docs.google.com/presentation/d/1H8yJ9sVUtgbDheB5WKLBQt65TS7G6nql49TiktM9oKw/edit#slide=id.g1214811f0c8_0_0" 
    title="iPhone Presentation"
    width="100%"
    height="800px"
  ></iframe>


</Project>
