---
import Project from "../../components/Project.astro"
---


<h1 data-aos="fade-in" data-aos-duration="1500"
data-aos-delay="300">Welcome to my project!</h1>

<Project
  title="Guessing the Sport"
  assignment="Create a program built on the concept of binary search"
>
<a href="https://github.com/IACS-CS/image-filter-project-allan-s-group">
Source Code
</a>
  <p>In this project, the main goal revolved around adding filters on each challenge that we were tasked on, either involving skills that we knew, like selection-if statements-, and new kinds of coding, like manipulating channels on the image in small groups of three.</p>
  <iframe 
    src="https://iacs-cs.github.io/image-filter-project-allan-s-group/" 
    title="Guess the Sports Quiz"
    width="100%"
    height="800px"
  ></iframe>

</Project>
