---
import Project from "../../components/Project.astro"
---


<h1 data-aos="fade-in" data-aos-duration="1500"
data-aos-delay="300">Welcome to my project!</h1>

<Project
  title="World Cup Spelling Bee/Scramble"
  assignment="Create a program built on the children's game 'MASH' or any game"
>
<a href="https://github.com/IACS-CS/mash-game-mason-s-team">
Source Code
</a>
  <p>For this project me and my groupmates made initially made a page to the project, based around the Groups of the 2022 World Cup. Which resulted in the code below</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe 
    src="https://iacs-cs.github.io/mash-game-mason-s-team/"
    width="100%"
    height="800px"
  ></iframe>

</Project>
