---
import Project from "../../components/Project.astro"
---


<h1 data-aos="fade-in" data-aos-duration="1500"
data-aos-delay="300">Welcome to my project!</h1>

<Project
  title="Simulation Playground"
  assignment="Create a simulation based on a real-world disease"
>
<a href="https://github.com/IACS-CS/systems-project-disease-modeling-am">
Source Code
</a>
  <p>In this project, the main goal revolved around how a population contracts and spreads the flu</p>
  <iframe 
    src="https://iacs-cs.github.io/systems-project-disease-modeling-am/" 
    title="Guess the Sports Quiz"
    width="100%"
    height="800px"
  ></iframe>

</Project>
