---
import Project from "../../components/Project.astro"
---


<h1 data-aos="fade-in" data-aos-duration="1500"
data-aos-delay="300">Welcome to my project!</h1>

<Project
  title="Turtle Mini Project"
  assignment="Create a drawing built on the turtle graphics."
>
<a href="https://github.com/IACS-CS/apcsp-24-25-apcsp-portfolio-apcsp-portfolio-template">
Will be Source Code
</a>
  <p>For this project, we were tasked with using the turtle code to create a drawing. The requirements for this project were having parameters for the drawing, things like size, color, and structure of the drawing--where the user can integrate with the drawing parameters to see how it changes. </p>
  <p>My drawing, which I worked on with a group, as of the character Steve in Minecraft. We had the parameter set for the size where the user could interact to see how it goes. </p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe 
    <p class="codepen" data-height="300" data-default-tab="js,result" data-slug-hash="YPKyZKP" data-pen-title="Text Interface Library + Turtle (In Series)" data-user="allanmachogu" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/allanmachogu/pen/YPKyZKP">
  Text Interface Library + Turtle (In Series)</a> by ALLANMACHOGU (<a href="https://codepen.io/allanmachogu">@allanmachogu</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
  ></iframe>

</Project>
